.amanpic {
    display: flex;
    justify-content: left;
    margin-left: 35px;
    margin-top: 125px;
}

.amanpic1 {
    display: flex;
    justify-content: center;

    font-size: 35px;
    margin-top: 55px;
    color: #4B0082;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.line {
    border: 1px solid #4B0082;
    height: 0px;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.amanpic>button {
    background-color: #4B0082;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.flexb {

    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 50px;
}


.yellowb {
    box-sizing: border-box;
    margin-inline: 70px;
    height: 120px;
    background: rgba(246, 146, 4, 0.05);
    box-shadow: 0px 10px 15px 4px rgba(246, 146, 4, 0.1);
    border-radius: 40px;
}