.App {
  text-align: center;
  overflow: auto;
}

.containerm {
  width: 95%;
  height: 70%;
  overflow: auto;
  margin-left: 50px;


}

.eventsflexbox {
  --gap: 8px;
  padding-inline: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: var(--gap);
}

.eventsflexbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flexchild1 {
  flex: calc(40% - var(--gap));
}

.flexchild2 {
  flex: calc(60% - var(--gap));
}

.flexchild3 {
  flex: 50%;
}

.flexchild4 {
  flex: calc(50% - var(--gap));
}

.mscroll {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 50px;
  margin: auto;
  background-color: #ECECEC;
  overflow: hidden;
  z-index: 1;
}

.mscrolltitle {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}

.mscrolltitle>div {
  display: flex;
  -webkit-animation: scrollText 15s infinite linear;
  animation: scrollText 15s infinite linear;
}

.mscrolltitle h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  transition: all 2s ease;
}

.mscrolltitle a {
  text-decoration: none;
  color: #686868;
}

.mscrolltitle a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

/*div:hover {
  animation-play-state: paused;
}*/
@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/*div:hover {
  animation-play-state: paused;
}*/
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.bgimage {
  background-image: url('./Components/pics/bgproweb.jpg');
  background-size: cover;
  position: relative;
  height: "100vh";
}

.text {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 1;

}



.text h2 {
  font-size: 45px;
  margin-top: 10%;


}

.text h1 {
  font-size: 45px;

}

.rowcontainer {
  align-content: center;
  margin-left: 140px;
  line-height: 2;
  font-size: 35px;
  margin-top: 55px;
  color: #4B0082;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;

}



.text button {
  margin-top: 80px;
  padding: 20px;
  border: 1px;
  float: left;
}

button:hover {
  scale: 1.2;
  text-decoration: none;
  transition: 2s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.animations {


  color: #ffffff
}

.animations:hover {
  scale: 1.2;
  transition: 2s;
  text-shadow: 10px 10px 5px 10px #4B0082;


}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.thumb {
  background-size: 400% 400%;
  height: 100vh;
  justify-content: center;
  position: relative;


}




.App-header {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  color: white;


}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* this sets the background color of the navbar to semi-transparent black */
  color: white;
  padding: 10px;
}

.Divi {
  display: flex;
  flex-direction: row;
  margin-top: 80%;
  justify-content: center;
  font-family: 'Neucha', cursive;
}

.containerland {
  margin-top: 50px;
  background-color: #4B0082;
  max-width: 100%;
  height: 800px;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;


}

.eventstc {
  position: relative;
  margin-top: 80px;
  max-width: 100%;
  height: 600px;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  /* margin-bottom: 100px; */
}

.eventstext {
  position: absolute;
  text-align: center;
  inset: 0;
  font-size: 90px;
  font-family: 'Montserrat';
  color: #ffffff;

}

.eventstext2 {
  text-align: center;
  font-size: 34px;
  font-family: 'Inter';
  font-style: normal;
  position: absolute;
  inset: 0;
  margin-right: 40px;
  color: #ffffff;
  margin-top: 130px;
}

.eventstext3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  position: absolute;
  text-align: center;
  inset: 0;
  margin-top: 230px;
  color: white;

}

.eventstext4 {
  position: absolute;
  text-align: center;
  inset: 0;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 34px;
  line-height: 40px;
  color: #FFC772;
  margin-top: 400px;

}

.containertext {
  text-align: center;
  line-height: 4;
  color: white;
}

.flexc {
  display: flex;
  justify-content: center;
}

.flexc1 {
  display: flex;
  justify-content: center;
  font-size: 20px;

}

.texth {
  display: flex;
  justify-content: center;
  color: #4B0082;
  font-size: 40px;
  margin-top: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textspace {
  margin-right: 80px;
}

.textspace1 {
  margin-right: 100px;
}

.boxborder {
  margin: auto;
  margin-top: 120px;
  width: 834px;
  height: 99px;
  background: rgba(75, 0, 130, 0.05);
  border: 1px solid rgba(75, 0, 130, 0.25);
  border-radius: 28px;
  text-align: center;
  font-size: 28px;
  font-family: 'Inter';
  color: #000000;
  display: flex;
  justify-content: center;
}

.buttonr {

  position: absolute;

  background: #FFFFFF;

  border-radius: 50px;
  /* padding: 50px;
  margin-top: 35%;
  margin-right: 50%;
  margin-left: 25%;
  margin-bottom: auto; */
  inset: 500px 600px 50px 600px;
  color: #4B0082;
  text-align: center;
}

.threecbottom {
  margin-top: 0;
  height: 80px;
  max-width: 100%;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  color: #4B0082;
}

.icons {
  margin-top: 40px;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
}

.divc {
  margin-top: 70px;
  margin-inline: auto;
  width: 896px;
  height: 450px;
  background-color: #D9D9D9;
}

.App-link {
  color: #61dafb;
}

.textcenter {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  margin-top: 100px;
}

.linebreak {
  height: 0;
  max-width: 100%;
  border: 2px solid #CDCDCD;
  margin-top: 40px;
}

.eventbackground {
  padding: 42px;
  width: 1100px;
  background: rgba(246, 146, 4, 0.05);
  border: 2px solid rgba(246, 146, 4, 0.25);
  border-radius: 60px;
  margin-top: 200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'one one two two three three'
    'four four four five five five';
  gap: var(--gap);
}

/* 
repeat(6, 1fr)
@media screen {
  .eventbackground {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'one two'
      'four five'
      'three three';
  }
} */

.eventpics {
  display: grid;
  place-items: center;
  width: 280px;
  margin-inline: auto;
}

.eventpics:nth-child(1) {
  grid-area: one;
}

.eventpics:nth-child(2) {
  grid-area: two;
}

.eventpics:nth-child(3) {
  grid-area: three;
}

.eventpics:nth-child(4) {
  grid-area: four;
}

.eventpics:nth-child(5) {
  grid-area: five;
}

.eventpics2 {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 180px;
  margin-inline: auto;
  margin-top: 550px;


}

.eventtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #656565;
}

.artistsflex {
  display: flex;
  justify-content: center;
}

.artistsbox {
  margin-left: 130px;
  width: 400px;
  height: 380px;
  background-color: #D9D9D9;
  border-radius: 40px;
  margin-top: 140px;

}

.eventpartner {
  max-width: 100%;
  padding: 30px;
  background: rgba(75, 0, 130, 0.05);

  margin-top: 125px;
}

.eventcontent {
  display: flex;
  justify-content: center;
}

.eventbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  color: #4B0082;

  margin-block: 110px;

}

.boxes {
  width: 80px;
  display: grid;
  place-items: center;
  background: rgba(75, 0, 130, 0.05);
  border-radius: 12px;
  border: 2px solid rgba(75, 0, 130, 0.25);
  aspect-ratio: 1;
}

.boxes span {
  font-size: 2rem;
}

.boxes+span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.boxtext {

  inset: 0;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}